button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.btn {
    background: #EA751E;
    border: 1px solid #EA751E;
}

.entry-content a:hover,
.top-job-section div.job_listings .load_more_jobs:hover,
div.job_listings .load_more_jobs:hover,
.widget-area .widget ul li a:hover, .widget-area .widget ol li a:hover, .site-footer .widget ul li a:hover,
.entry-title a:hover,
a {
    color: #EA751E;
    text-decoration: none !important;
}

.custom-logo-link img {
    max-width: 300px;
}

.subcribe-custom input[type="submit"]:hover,
.widget_raratheme_companion_cta_widget a.btn-cta:hover {
    color: #FFF;
}

div.job_listings .load_more_jobs:hover {
    color: auto;
    opacity: 0.8;
}

.site-banner .wp-custom-header img {
    width: 100%;
    max-height: 800px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.btn:hover, a.btn:focus {
    color: #EA751E;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.mw-80 {
    max-width: 80%;
    margin: 0 auto;
}

.btn-secondary {
    border-color: #fff !important;
}

.container-fluid {
    max-width: 100%;
}

#page {
    background: #F2F2F2;
}

.header-main {
    padding: 22px 0;
}

input,
.btn-wrap a.btn {
    border-radius: 0 !important;
}

.banner-caption-custom .jobscout_job_filters .search_jobs,
.btn-wrap-custom a.btn {
    border-radius: 0;
}

.banner-caption-custom .caption-inner {
    text-align: left;
    max-width: 900px;
}

.bg-cta-section-custom .raratheme-cta-container .widget-title,
.banner-caption-custom .caption-inner .title {
    font-size: 34px;
    line-height: 54px;
    font-weight: 700;
}

.bg-cta-section-custom .raratheme-cta-container .text-holder p,
.banner-caption-custom .caption-inner .description {
    font-size: 16px;
    line-height: 26px;
}

.banner-caption-custom .form-wrap {
    padding: 20px;
    background: rgba(35, 24, 21, 0.4);
}

.banner-caption-custom .jobscout_job_filters .search_jobs > div:not(:first-child) {
    padding-left: 15px;
}

.banner-caption-custom .jobscout_job_filters .search_jobs .search_submit input {
    background-image: none;
    width: 100%;
    text-indent: 0;
    margin-top: 1px;
    border-left: none;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-caption-custom .jobscout_job_filters .search_jobs .search_submit input:hover {
    background-image: none;
    width: 100%;
    text-indent: 0;
    color: #EA751E;
}

.main-navigation ul li {
    padding-left: 5px;
}

.main-navigation ul li a {
    padding: 10px;
    text-transform: uppercase;
}

.main-navigation ul li:hover > a,
.main-navigation ul li.current-menu-item>a,
.main-navigation ul li.current_page_item>a {
    border-bottom: 2px solid #EA751E;
    color: #000;
}

.bg-cta-section-custom .raratheme-cta-container {
    max-width: 860px;
}

.bg-cta-section-custom .raratheme-cta-container .button-wrap a.btn-cta {
    border-radius: 0;
    background-color: transparent;
    border-color: #FFF;
    padding: 10px 25px;
}

.bg-cta-section-custom .raratheme-cta-container .widget-title {
    padding-bottom: 20px;
}

.bg-cta-section-custom .raratheme-cta-container .text-holder {
    padding-bottom: 30px;
}

.article-section-custom .article-wrap {
    display: grid;
    grid-template-columns : repeat(2, 1fr);
    grid-gap: 50px 30px;
    margin-bottom: 0;
}

.article-section-custom .btn-wrap {
    display: none;
}

.article-section-custom .article-wrap article {
    display: flex !important;
    flex-direction: row;
    padding: 20px;
    border-radius: 0;
    box-shadow: unset;
    background-color: #FFF;
    align-items: center;
    margin-bottom: 0;
    flex-wrap: nowrap;
}

.article-section-custom .article-wrap article .post-thumbnail {
    margin-bottom: 0;
    display: block;
    width: 200px;
    height: 200px;
}

.article-section-custom .article-wrap article .post-thumbnail svg,
.article-section-custom .article-wrap article .post-thumbnail .svg-holder,
.article-section-custom .article-wrap article .post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-section-custom .article-wrap header.entry-header {
    padding: 0 0 0 30px;
}

.article-section-custom .article-wrap header.entry-header .entry-title a {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article-section-custom .article-wrap .entry-overview p,
.article-section-custom .article-wrap .entry-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
    line-height: 22px;
    color:#231815;
    margin-bottom: 10px;
}

.list-view .site-main article .content-wrap {
    padding: 0 0 0 30px;
}

.list-view .site-main article .content-wrap > .entry-header{
    padding-left: 0;
}

.content-area.article-section-custom {
    padding: 0 !important;
    width: 100% !important;
}

.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .company-address svg,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .company-name::before,
.article-section-custom .article-wrap article .entry-footer > a > svg,
.article-section-custom .article-wrap article .entry-footer .edit-link,
.article-section-custom .article-wrap header.entry-header .entry-meta,
.content-area.article-section-custom + .widget-area {
    display: none;
}

.article-section-custom .article-wrap article .entry-footer > a {
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
}

footer .footer-t {
    background-color: #F2F2F2;
    color: #000;
}

footer .footer-t .textwidget {
    text-align: center;

}

footer .footer-t .textwidget p,
.site-footer .widget ol li,
.site-footer .widget ul li,
.site-footer .widget ul li a,
.site-footer .widget ol li a {
    color: #000;
}

footer .footer-b {
    background-color: #231815;
    color: #FFF;
}

footer .footer-t .textwidget ul li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
}

footer .footer-t .textwidget ul li a {
    text-decoration: none;
}

.top-job-section-gridview  .row .job_listings .job_listings_custom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.top-job-section-gridview .row div.job_listings_custom article {
    width: auto;
    flex-direction: column;
    margin: 0;
    padding: 0 15px 15px;
}

.top-job-section-gridview .row div.job_listings article .company-logo {
    width: 100%;
}

.top-job-section-gridview .row div.job_listings article .job-title-wrap {
    width: 100%;
    padding: 0;
}

.top-job-section-gridview .row div.job_listings article .entry-meta {
    border-top: unset;
    margin-top: 0;
    text-align: center;
}

.top-job-section-gridview .row div.job_listings article .entry-meta .company-address {
    display: inline-block;
    margin: 0 auto;
    padding: 8px 20px;
    background-color: #F2F2F2;
    border-radius: 60px;
}

footer .footer-t .subcribe-custom {
    background-color: #EA751E;
    padding: 30px 0;
    margin-bottom: 80px;
}

footer .footer-t .subcribe-custom > .widget {
    max-width: 1170px;
    margin: 0 auto;
}

footer .footer-t .subcribe-custom p {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    color: #FFF;
    position: relative;
}

footer .footer-t .subcribe-custom p .wpcf7-submit {
    margin-left: auto;
}

footer .footer-t .subcribe-custom p .newsletter-info {
    display: flex;
    width: 100%;
    padding-right: 20px;
    align-items: center;
}

footer .footer-t .subcribe-custom p  .wpcf7-submit {
    border-color: #fff !important;
}

footer .footer-t .subcribe-custom .newsletter-info span {
    width: 100%;
}

footer .footer-t .subcribe-custom p .has-spinner + span {
    position: absolute;
    right: -40px;
    margin: 0;
}

footer .footer-t .subcribe-custom p .has-spinner + span + span {
    display: none;
}

.site-content .contact-bottom,
.site-content .contact-top,
.site-content .about-top,
.site-content .about-center,
.site-content .about-bottom {
    padding: 60px 0;
}

.site-content .about-top .title {
    font-size: 34px;
    font-weight: 700;
    line-height: 54px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.site-content .contact-bottom .content,
.site-content .about-top .content,
.site-content .about-bottom .content {
    display: flex;
    align-items: center;
}

.site-content .about-top .content .content-left,
.site-content .about-bottom .content .content-left {
    width: 45%;
    padding-right: 60px;
}

.site-content .about-top .content .content-left img,
.site-content .about-bottom .content .content-left img {
    width: 100%;
    max-width: 100%;
}

.site-content .about-top .content .content-right,
.site-content .about-bottom .content .content-right {
    width: 55%;
    color: #231815;

}

.site-content .contact-bottom .content .content-left,
.site-content .contact-bottom .content .content-right {
    width: 50%;
    text-align: center;
}

.site-content .contact-top .title,
.site-content .contact-bottom .content h4,
.site-content .about-top .content .content-right h4,
.site-content .about-bottom .content .content-right h4 {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}

.site-content .contact-bottom .content p,
.site-content .about-top .content .content-right p,
.site-content .about-bottom .content .content-right p,
.site-content .about-center .content p {
    margin-top: 6px;
    font-size: 16px;
    line-height: 26px;
}

.site-content .about-bottom .content {
    flex-direction: row-reverse;
}

.site-content .contact-bottom .content a {
    color: #EA751E;
    text-decoration: underline;
}

.site-content .about-bottom .content .content-left {
    padding-right: 0px;
    padding-left: 60px;
}

.site-content .about-bottom .content .content-right {
    text-align: center;
}

.site-content .contact-top,
.site-content .about-center {
    background-color: #FFF;
    text-align: center;
}

.site-content .about-center .title {
    color: #EA751E;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul,
.job_listings .job_listings.job-listings-custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul li:before {
    display: none;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul li,
.job_listings .job_listings.job-listings-custom article {
    margin: 0 !important;
    padding: 22px !important;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    box-shadow: unset !important;
}

.job_listings .job_listings.job-listings-custom article .job-overview {
    margin-bottom: 0;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta img.company_logo,
.job_listings .job_listings.job-listings-custom article .company-logo {
    width: 120px !important;
    height: 120px;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info,
.job_listings .job_listings.job-listings-custom article .job-title-wrap {
    width: calc(100% - 120px) !important;
    padding-left: 20px;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .title,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-title {
    font-size: 16px !important;
    line-height: 25px !important;
    text-transform: uppercase;
    padding-right: 0;
    padding-bottom: 5px;
    text-align: left;
    min-height: auto;
    color: #231815;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .date,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .job-created-at {
    font-size: 13px;
    font-weight: 500;
    color: #828282;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta,
.single-job .site-content .site-main .entry-content .col-2 ul.job-listing-meta,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta {
    border: none;
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #F2F2F2;
    display: flex;
    border-radius: 6px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-job .site-content .site-main .entry-content .col-2 ul.job-listing-meta .salary,
.single-job .site-content .site-main .entry-content .col-2 ul.job-listing-meta .date-posted,
.single-job .site-content .site-main .entry-content .col-2 ul.job-listing-meta li:last-child {
    display: none;
}

.single-job.full-width .site-content .site-main .entry-content ul.job-listing-meta li {
    width: auto;
    padding-left: 20px;
    position: relative;
}


.single-job.full-width .site-content .site-main .entry-content ul.job-listing-meta li:first-child {
    padding-left: 0;
}

.single-job.full-width .site-content .site-main .entry-content ul.job-listing-meta li::after {
    position: absolute;
    top: 7px;
    top: 52%;
    transform: translateY(-50%);
    left: 10px;
    content: "";
    background-color: #BDBDBD;
    width: 1px;
    height: 12px;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta > div {
    padding: 0;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .comp,
.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .loc,
.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .jt span {
    color: #231815;
    background-color: transparent;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .loc .dashicons {
    display: none;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta::before,
.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta::after,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta::before,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta::after {
    top: 7px;
    right: 0;
    bottom: 0;
    left: -8px;
    content: "";
    background-color: #BDBDBD;
    width: 1px;
    height: 12px;
    margin: 0 5px;
}

.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .company-name,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .company-address,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .job-type {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #231815;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: capitalize;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .jt,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .job-type {
    order: 1
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta::before,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta::before {
    order: 2;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .comp,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .company-name {
    order: 3;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta::after,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta::after {
    order: 4;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info .job-group-meta .loc,
.job_listings .job_listings.job-listings-custom article .job-title-wrap .entry-meta .company-address {
    order: 5;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .cont,
.job_listings .job_listings.job-listings-custom article .job-overview {
    padding-top: 14px;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    color: #231815;
}

.single-job .site-content .site-main .entry-content .relatedjobs ul .cont .fade-out {
    display: none;
}

.top-job-section div.job_listings .load_more_jobs,
div.job_listings .load_more_jobs {
    background-color: transparent;
    border-color: #EA751E;
    color: #EA751E;
    border-radius: 0px;
    padding: 12px 35px;
    margin-top: 50px;
}

.top-job-section div.job_listings .load_more_jobs::before,
div.job_listings .load_more_jobs::before {
    display: none;
}

.pum-theme-default-theme {
    background: #000c;
}
.pum-theme-default-theme .pum-container {
    max-width: 515px !important;
    color: #231815;
    padding: 30px;
}

.pum-theme-default-theme .pum-container .pum-close {
    line-height: 20px;
    background-color: transparent;
    color: #000;
}

.pum-theme-default-theme .pum-container > div {
    max-width: 335px;
    margin: 0 auto;
}

.pum-theme-default-theme .pum-title {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    text-transform: capitalize;
}

.single-job .site-content>.entry-header {
    display: none;
}

.single_job_listing .job-detail-meta {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 20px 25px;
    margin-bottom: 20px;
}

.single_job_listing .job-detail-meta .col-2 .job-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 10px;
    margin-top: 0;
}

.single_job_listing .job-detail-meta .col-2 .created_at {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    color: #828282;
    margin-bottom: 10px;
}

.single_job_listing .job-detail-meta .col-3 {
    margin-left: auto;
    padding-left: 30px;
}

.single-job .site-content .site-main .entry-content ul.job-listing-meta li {
    margin: 0;
    padding: 0;
}
.single-job .site-content .site-main .entry-content ul.job-listing-meta li::before {
    display: none;
}

.single_job_listing .job-detail-meta .col-3 .at-resp-share-element .at-share-btn {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
}

.single_job_listing .application .application_button {
    margin: 0;
    padding: 10px 25px;
}

.single_job_listing .application, .job-manager-application-wrapper .application{
    margin: 0
}

.single-job_listing .site-main .single_job_listing .company {
    padding: 0;
    margin: 0 30px 0 0;
    width: 140px;
    height: 140px;
    display: block;
}
.single-job_listing .site-main .single_job_listing .company img {
    width: 140px;
    height: 140px;
    margin: 0;
    display: block;
}

.single_job_listing .job_description {
    padding: 30px;
    background-color: #FFF;
}

.relatedjobs {
    background-color: transparent;
}

.relatedjobs .title a {
    color: #231815;
}

.relatedjobs .heading {
    font-weight: 700;
    font-size: 34px;
    line-height: 54px;
}

.site-main .entry-content div.job_listings div.job_listings article .entry-meta .company-address,
.site-main .entry-content div.job_listings div.job_listings article .entry-meta .job-type {
    margin: 0;
    display: inline-block;
}

.site-main .entry-content div.job_listings div.job_listings article .entry-meta {
    margin-top: 5px;
    padding-top: 5px;
    border-top: none;
}

.edit-link {
    display: none;
}

@media screen and (max-width: 1024px) {
    .site-main .entry-content div.job_listings div.job_listings article,
    .top-job-section .row div.job_listings article {
        flex-direction: row;
    }
    .top-job-section .row div.job_listings article .company-logo {
        margin-bottom: 0;
    }
    .top-job-section .row div.job_listings article .job-title-wrap {
        padding-left: 16px;
    }
    .header-main .main-navigation .toggle-btn:hover .toggle-bar {
        background-color: #EA751E;
    }
}

@media (max-width: 992px) {
    .article-section-custom .article-wrap article .post-thumbnail > a,
    .article-section-custom .article-wrap article .post-thumbnail {
        width: 120px;
        height: 120px;
        display: block;
    }
}

@media (max-width: 767px) {
    .single_job_listing .job-detail-meta .col-2 {
        text-align: center;
    }
    .site-banner .wp-custom-header {
        max-height: 400px;
    }
    .container {
        max-width: 100%;
    }
    .single-job .site-content>.container,
    .article-section-custom .container,
    .top-job-section .container {
        padding: 0;
    }
    footer .footer-t .subcribe-custom {
        margin-left: -15px;
        margin-right: -15px;
    }
    .single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta img.company_logo,
    .job_listings .job_listings.job-listings-custom article .company-logo {
        width: 90px !important;
        height: 90px;
    }

    .site-main .entry-content div.job_listings div.job_listings article .job-title-wrap {
        margin-top: 0;
        padding-left: 20px;
    }
    .pum-theme-default-theme .pum-container{
        padding: 20px;
    }
    .pum-container.pum-responsive {
        width: 100%;
    }
    .site-content .about-top, .site-content .about-center, .site-content .about-bottom{
        padding: 30px 0;
    }
    .site-content .contact-bottom .content,
    .site-content .about-top .content {
        flex-direction: column-reverse;
    }
    .site-content .contact-bottom .content .content-left, .site-content .contact-bottom .content .content-right,
    .site-content .about-top .content .content-right, .site-content .about-bottom .content .content-right,
    .site-content .about-top .content .content-left, .site-content .about-bottom .content .content-left{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .site-content .about-bottom .content .content-left,
    .site-content .about-top .title{
        padding-bottom: 24px;
    }
    .mw-80 {
        max-width: 100%;
    }
    .single_job_listing .job-detail-meta,
    .site-content .about-bottom .content,
    footer .footer-t .subcribe-custom p,
    footer .footer-t .subcribe-custom p .newsletter-info  {
        flex-direction: column;
    }

    .site-main .entry-content div.job_listings div.job_listings article {
        flex-direction: row;
    }

    .single-job_listing .site-main .single_job_listing .company {
        margin: 0 0 20px 0;
    }

    .single_job_listing .job-detail-meta .col-3 {
        margin: 0 auto;
        padding: 20px 0 0 0;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px 15px !important;
        display: grid;
    }

    footer .footer-t .subcribe-custom p .newsletter-info {
        padding: 0;
        font-size: 22px;
        font-weight: 700;
    }

    footer .footer-t .subcribe-custom p .newsletter-input {
        padding-top: 20px;
    }

    footer .footer-t .subcribe-custom p .wpcf7-submit {
        width: 100%;
    }

    footer .footer-t .subcribe-custom p .btn-secondary + span {
        right: 0;
    }

    .banner-caption-custom .form-wrap {
        padding: 0;
        background-color: transparent;
    }

    .banner-caption-custom .caption-inner .description {
        display: none;
    }

    .bg-cta-section-custom .raratheme-cta-container .widget-title,
    .banner-caption-custom .caption-inner .title {
        font-size: 24px;
        line-height: 30px;
    }

    .banner-caption-custom .jobscout_job_filters .search_jobs > div:not(:first-child) {
        padding: 15px 0 0 0;
    }

    .top-job-section-gridview .row .job_listings .job_listings_custom {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .single-job .site-content .site-main .entry-content .relatedjobs ul,
    .job_listings .job_listings.job-listings-custom,
    .article-section-custom .article-wrap {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px 0px !important;
    }

    .article-section-custom .article-wrap header.entry-header .entry-title a {
        font-size: 14px;
        line-height: 22px;
    }

    .article-section-custom .article-wrap .entry-content p {
        font-size: 13px;
        line-height: 21px;
    }

    .article-section-custom .article-wrap article {
        padding: 15px !important;
    }

    .article-section-custom .article-wrap header.entry-header,
    .list-view .site-main article .content-wrap {
        padding-left: 20px;
    }

    footer .footer-t .subcribe-custom .newsletter-info span {
        padding-top: 15px;
    }

    .single-job .site-content .site-main .entry-content .relatedjobs ul .job-meta .job-meta-info,
    .job_listings .job_listings.job-listings-custom article .job-title-wrap {
        width: calc(100% - 90px) !important;
    }
}