.quy-trinh-tuyen-dung {
    text-align: center;
}

.quy-trinh-tuyen-dung .qttd-heading h3 {
    margin-top: 0;
    margin-bottom: 32px;
    color: #FFF;
}

.quy-trinh-tuyen-dung .qttd-process {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px 50px;
    margin-bottom: 0;
}

.quy-trinh-tuyen-dung .qttd-process .col-3 {
    position: relative;
}

.quy-trinh-tuyen-dung .qttd-process .col-3:before {
    content: '';
    position: absolute;
    width: 70px;
    border-bottom: 2px dashed #FFF;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
}

.quy-trinh-tuyen-dung .qttd-process .col-3:last-child::before {
    display: none;
}

.quy-trinh-tuyen-dung .qttd-process .col-3 .img {
    border: 2px solid #FFF;
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.quy-trinh-tuyen-dung .qttd-process .col-3 .img span {
    position: absolute;
    top: 5px;
    left: -15px;
    border-radius: 50%;
    background: #FFF;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EA751E;
    font-weight: 700;
}

.quy-trinh-tuyen-dung .qttd-process .col-3 .content {
    padding-top: 16px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
}

@media (max-width: 992px) { 
    .quy-trinh-tuyen-dung .qttd-process {
        grid-template-columns: repeat(2, 1fr);
    }

    .quy-trinh-tuyen-dung .qttd-process .col-3:nth-child(even):before {
        display: none;
    }
}

@media (max-width: 515px) { 
    .quy-trinh-tuyen-dung .qttd-process .col-3:before {
        display: none;
    }
    
    .quy-trinh-tuyen-dung .qttd-process {
        grid-template-columns: repeat(1, 1fr);
    }
}