button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"],
a.btn {
    background: #EA751E;
    border: 1px solid #EA751E;
}

button:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover,
a.btn:hover, a.btn:focus {
    color: #EA751E;
}

.mw-80 {
    max-width: 80%;
    margin: 0 auto;
}

.btn-secondary {
    border-color: #fff !important;
}

.container-fluid {
    max-width: 100%;
}

#page {
 background: #F2F2F2;
}

.header-main {
    padding: 22px 0;
}

input,
.btn-wrap a.btn {
    border-radius: 0 !important;
}

.banner-caption-custom .jobscout_job_filters .search_jobs,
.btn-wrap-custom a.btn {
    border-radius: 0;
}

.banner-caption-custom .caption-inner {
    text-align: left;
    max-width: 900px;
}

.bg-cta-section-custom .raratheme-cta-container .widget-title,
.banner-caption-custom .caption-inner .title {
    font-size: 34px;
    line-height: 54px;
    font-weight: 700;
}

.bg-cta-section-custom .raratheme-cta-container .text-holder p,
.banner-caption-custom .caption-inner .description {
    font-size: 16px;
    line-height: 26px;
}

.banner-caption-custom .form-wrap {
    padding: 20px;
    background: rgba(35, 24, 21, 0.4);
}

.banner-caption-custom .jobscout_job_filters .search_jobs > div:not(:first-child) {
    padding-left: 15px;
}   

.main-navigation ul li {
    padding-left: 5px;
}

.main-navigation ul li a {
    padding: 10px;
    text-transform: uppercase;
}

.main-navigation ul li:hover > a, 
.main-navigation ul li.current-menu-item>a, 
.main-navigation ul li.current_page_item>a {
    border-bottom: 2px solid #EA751E;
    color: #000;
}

.bg-cta-section-custom .raratheme-cta-container {
    max-width: 860px;
}

.bg-cta-section-custom .raratheme-cta-container .button-wrap a.btn-cta {
    border-radius: 0;
    background-color: transparent;
    border-color: #FFF;
    padding: 10px 25px;
}

.bg-cta-section-custom .raratheme-cta-container .widget-title {
    padding-bottom: 20px;
}

.bg-cta-section-custom .raratheme-cta-container .text-holder {
    padding-bottom: 30px;
}

.article-section-custom .article-wrap {
    grid-template-columns : repeat(2, 1fr);
    grid-gap: 50px 30px;
}

.article-section-custom .article-wrap article {
    display: flex !important;
    flex-direction: row;
    padding: 20px;
    border-radius: 0;
    box-shadow: unset;
    background-color: #FFF;
    align-items: center;
}

.article-section-custom .article-wrap article .post-thumbnail {
    margin-bottom: 0;
    display: block;
    width: 200px;
}

.article-section-custom .article-wrap header.entry-header {
    padding: 0 0 0 30px;
}

footer .footer-t {
    background-color: #F2F2F2;
    color: #000;
}

footer .footer-t .textwidget {
    text-align: center;
   
}

footer .footer-t .textwidget p,
.site-footer .widget ol li, 
.site-footer .widget ul li, 
.site-footer .widget ul li a, 
.site-footer .widget ol li a {
    color: #000;
}

footer .footer-b {
    background-color: #231815;
    color: #FFF;
}

footer .footer-t .textwidget ul li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
}

footer .footer-t .textwidget ul li a {
    text-decoration: none;
}

.top-job-section-gridview  .row .job_listings .job_listings_custom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.top-job-section-gridview .row div.job_listings_custom article {
    width: auto;
    flex-direction: column;
    margin: 0;
    padding: 0 15px 15px;
}

.top-job-section-gridview .row div.job_listings article .company-logo {
    width: 100%;
}

.top-job-section-gridview .row div.job_listings article .job-title-wrap {
    width: 100%;
    padding: 0;
}

.top-job-section-gridview .row div.job_listings article .entry-meta {
    border-top: unset;
    margin-top: 0;
    text-align: center;
}

.top-job-section-gridview .row div.job_listings article .entry-meta .company-address {
    display: inline-block;
    margin: 0 auto;
    padding: 8px 20px;
    background-color: #F2F2F2;
    border-radius: 60px;
}

footer .footer-t .subcribe-custom { 
   background-color: #EA751E;
   padding: 30px 0;
   margin-bottom: 80px;
}

footer .footer-t .subcribe-custom > .widget { 
    max-width: 1170px;
    margin: 0 auto;
}

footer .footer-t .subcribe-custom .newsletter {
    display: flex;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    color: #FFF;    
    position: relative;
}

footer .footer-t .subcribe-custom .newsletter .btn-secondary {
    margin-left: auto;
}

footer .footer-t .subcribe-custom .newsletter .newsletter-info {
    display: flex;
    width: 100%;
    padding-right: 20px;
    align-items: center;
}

footer .footer-t .subcribe-custom .newsletter .newsletter-input {
    width: 100%;
}

footer .footer-t .subcribe-custom .newsletter .btn-secondary + span {
    position: absolute;
    right: -40px;
    margin: 0;
}

.site-content .about-top,
.site-content .about-center,
.site-content .about-bottom {
    padding: 60px 0;
}

.site-content .about-top .title {
    font-size: 34px;
    font-weight: 700;
    line-height: 54px;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.site-content .about-top .content,
.site-content .about-bottom .content {
    display: flex;
    align-items: center;
}

.site-content .about-top .content .content-left,
.site-content .about-bottom .content .content-left {
    width: 45%;
    padding-right: 60px;
}

.site-content .about-top .content .content-left img,
.site-content .about-bottom .content .content-left img {
    width: 100%;
    max-width: 100%;
}

.site-content .about-top .content .content-right,
.site-content .about-bottom .content .content-right {
    width: 55%;
    color: #231815;

}

.site-content .about-top .content .content-right h4,
.site-content .about-bottom .content .content-right h4 {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
}

.site-content .about-top .content .content-right p,
.site-content .about-bottom .content .content-right p,
.site-content .about-center .content p {
    margin-top: 6px;
    font-size: 16px;
    line-height: 26px;
}

.site-content .about-bottom .content {
    flex-direction: row-reverse;
}

.site-content .about-bottom .content .content-left {
    padding-right: 0px;
    padding-left: 60px;
}

.site-content .about-bottom .content .content-right {
    text-align: center;
}

.site-content .about-center {
    background-color: #FFF;
    text-align: center;
}

.site-content .about-center .title {
    color: #EA751E;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

@media (max-width: 992px) {
    .article-section-custom .article-wrap article .post-thumbnail {
        width: 120px;
    }
}

@media (max-width: 767px) {
    .site-content .about-top, .site-content .about-center, .site-content .about-bottom{
        padding: 30px 0;
    }
    .site-content .about-top .content {
        flex-direction: column-reverse;
    }
    .site-content .about-top .content .content-right, .site-content .about-bottom .content .content-right,
    .site-content .about-top .content .content-left, .site-content .about-bottom .content .content-left{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .site-content .about-bottom .content .content-left,
    .site-content .about-top .title{
        padding-bottom: 24px;
    }
    .mw-80 {
        max-width: 100%;
    }
    .site-content .about-bottom .content,
    footer .footer-t .subcribe-custom .newsletter,
    footer .footer-t .subcribe-custom .newsletter .newsletter-info  {
        flex-direction: column;
    }

    footer .footer-t .subcribe-custom .newsletter .newsletter-info {
        padding: 0 0 20px 0;
        font-size: 22px;
    }

    footer .footer-t .subcribe-custom .newsletter .newsletter-input {
        padding-top: 20px;
    }

    footer .footer-t .subcribe-custom .newsletter .btn-secondary {
        width: 100%;
    }

    footer .footer-t .subcribe-custom .newsletter .btn-secondary + span {
        right: 0;
    }

    .banner-caption-custom .form-wrap {
        padding: 0;
        background-color: transparent;
    }

    .banner-caption-custom .caption-inner .description {
        display: none;
    }

    .bg-cta-section-custom .raratheme-cta-container .widget-title, 
    .banner-caption-custom .caption-inner .title {
        font-size: 24px;
        line-height: 30px;
    }   

    .banner-caption-custom .jobscout_job_filters .search_jobs > div:not(:first-child) {
        padding: 15px 0 0 0;
    }

    .top-job-section-gridview .row .job_listings .job_listings_custom {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }

    .article-section-custom .article-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
}